<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Antonio Montalvo">
    <meta name="description" content="Web Resume">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <meta property="og:title" content="Antonio Montalvo | Software Developer">
    <link rel="shortcut icon" href="/images/male-technologist.png" hreflang="en-us">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Software Developer who has a deep interest for building robust and user-friendly applications.">
    <meta name="keywords" content="full stack, design, development, web, montalvo, montalvocode, javascript, Los Angeles, California">
    <meta property="og:site_name" content="Antonio Montalvo">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Antonio Montalvo | Software Developer</title>
</head>

<body>
    <header id="header" class="greeting intro">
        <h1 class="hello">Hello!
            <div id="shakeHello" class="emoji" style="background-image: url(/images/waving-hand.png)">
            </div>    
        </h1>
        <h2 class="catch-phrase"> "I'm
            <span class="my-name">Antonio Montalvo</span>
            , a Software Developer who has a deep interest for building robust and user-friendly applications." <div class="emoji" style="background-image: url(/images/\male-technologist.png)">
            </div> 
        </h2>
        <h3 class="contact-me container ">
            <div class="emoji envelope" style="background-image: url(/images/envelope.png)">
            </div> 
            <span class=""><a  href="mailto:montalvocode@gmail.com" target="_blank" class="highlight-link image ">montalvocode@gmail.com</a></span>
            <div class="overlay"></div>
        <h3>   
    </header>
    <section>
        <div class="background">BACKGROUND</div>
        <div class="background-text">
            <p class="text-content">Software Developer with a deep interest in building robust and user-friendly applications. Collaborative and comfortable working with diverse teams. </p>
            <p class="text-content"> A quick study on new technologies with focus in Javascript development. Providing companies with solutions to seamlessly connect with their customers, showcasing their products and capturing client’s business.</p>
        </div>
    </section>
    <section>
        <div class="background">SKILLS</div>
        <div class="background-text">
            <p class="text-content">JavaScript, Node.js, Express, Handlebars, Sequelize, React.js, HTML, XML, CSS3, Ajax, Git, Firebase, MVC,  MySQL, MongoDB, Mongo.js,  Bootstrap and jQuery, Java. Scrum and Agile. Avoka Form Composer.</p>
        </div>
    </section>
    <section>
        <div class="background">EXPERIENCE</div>
        <div class="background-text">
            <div class="jobs">
                <div class="job">
                    <div class="job-place">
                        <div class="place text-content">City National Bank</div>
                        <div class="time text-content">December 2016 - August 2017</div> 
                     </div>
                </div>   
                    <div class="position text-content">Internal Communications Services, Web Developer -Technical Forms Designer II</div>
            </div>     
        </div>
        <div class="background-text">
            <div class="jobs">
                <div class="job">
                    <div class="job-place">
                        <div class="place text-content">UCLA Extension. The Coding Boot Camp.</div>
                        <div class="time text-content">October 2016 - January 2017</div> 
                     </div>
                </div>   
                    <div class="position text-content">Teacher Assistant.</div>
            </div>  
            <a class="resume background" href="/images/Resume.pdf" title="Resume pdf" target="_blank" >View My Resume<span class="emoji" style="background-image: url(/images/arrow.png)"></span></a>   
        </div>
    </section> 
    <section>
        <div class="background">RECENT PROYECT</div>
        <div class="background-text">
            <p class="text-content">I have create a tutorial for React. It is an introduction to React, completed with examples and code.</p>
            
            <a href="https://montalvocode-react-intro.herokuapp.com/" title="intro to React link" target="_blank"><img class="collage" src="/images/intr-png.png" alt="proyect React"></a>
        </div>  
        <div class="background">OTHER PROYECTS</div>
        <div class="background-text">
            <p class="text-content">City National Bank. Business application/form design. Internal Communication Services.</p>
             <a href="https://www.cnb.com/index.asp" title="intro to React link" target="_blank"><img class="cnb" src="/images/cnb.png" alt="City National Banl Logo"></a>
        </div>    

        
    </section>
    <footer class="footer-">
        <div class="footer_copyright">
            <div class="top"><h3 id="rights">Developed by Antonio Montalvo &copy; 2017</h3><div class="footer_links">
            <a href="mailto:montalvocode@gamail.com" title="email" target="_blank"><img src="/images/email.svg" alt="emial svg"></a>
            <a href="https:www.linkedin.com/in/montalvocode/" title="linkedin" target="_blank"><img src="/images/linkedin.svg" alt="linked in svg"></a>
            <a href="https://github.com/AntonioMontalvo?tab=repositories" title="git hub" target="_blank"><img src="/images/github.svg" alt="linked in svg"></a>
            </div></div>
        </div>
    </footer>
    <button id="top-button" style="display: inline-block">
        <img  id="no-finger" src="/images/up-pointing.png" alt="Pointing up emoji">
    </button>

    <script src="/lib/app.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>